 # Файл с вашим секретным токеном Genius
tk
tk.py

# Папка со скачанной диджейской музыкой
DJ_Library/

# Все JSON-файлы (базы данных треков, истории и фильтров)
*.json

# Временный кэш Python
__pycache__/
*.pyc
